<!--navigation bar to different pages-->
<nav class="top_menu">
    <ul>
      <li>
        <a href="/">Home</a>
     </li>
     <li>
       <a href="/product">Shop</a>
    </li>
    <li>
      <a href="/yourorders">Your Orders</a>
   </li>
    <li>
      <a href="/gallery">Gallery</a>
   </li>
    </ul>
 </nav>