<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
</head>
<body>
    <!--header of the body-->
    <header>
        <!--image is added which is the logo-->
        <img src="images/logoplant.png" alt="plant logo">
        <!--headings added with different size-->
        <h1>Green Basket</h1>
        <h3>To Plant A Garden Is To Believe In Tomorrow</h3>
        <%- include('layouts/nav'); -%>
    </header>
    <!--main part of the body-->
    <main>
        <section>
            <form action="product" method="POST">
            </form>
            <h1>Online Plants Shopping in India </h1>
        <p>
            We have almost webbed the whole world in gifting flowers and plants. You can send plants to Delhi
            Mumbai, Pune, Delhi, Bangalore, Hyderabad or any other destination with a click of the mouse.
            Plants online shopping have also taken a boost and we have succeeded in promoting greenery in 
            people’s lives. We have a worldwide delivery for most of the mentioned items and our same day 
            delivery is a unique idea to keep the folks happy. Tree Farm also serves express delivery,
            where the gift would reach the destination in just 2 hours. Online plant shopping is a growing
            area and we are more than happy to serve humanity for a noble cause. You can order plants online
            to India or any other international destination with absolute ease.You can also send artificial
            plants online to brighten up your living area in an effortless manner. The amazing benefits of
            these artificial plants are that you don’t have to water them on a daily basis and can still 
            create a positive aura and ambience around your home. To meet the ever increasing demand of 
            its customers, the online portal brings to you a wide variety of artificial plants online in
            India and abroad in a smooth manner.<br><br>
            House plants generally include bamboo sticks, money plant, marenta, scufflera, jasmine, etc. 
            Thinking from health front, these plants are conducive to good living in clear air. Outdoor 
            plants can be various flowering plants like pothos, dracaena, coleus, rose, mussaenda, etc.
            which are to be watered daily for a lovely view of your garden. We are one of the renowned
            online plant nursery in India, catering to the different needs of the customers. We suggest
            buying online plants by placing order for plants online to save your precious time. Online
            shopping of plants are a noble idea to grace up your living area. You can also send indoor 
            plants online in India to your friends and family and promote greenery.
        </p>
        </section>
        <!--aside part of the body-->
    </main>
    </body>
    <%- include('layouts/footer'); -%>
